<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Folium Maps</title>
    <style>
        body {
            font-family: "Courier New";
            text-align: center;
        }
        ul {
            list-style: none;
        }
        li {
            margin-bottom: 1%;
        }
    </style>
</head>
<body>
<h2>List of maps:</h2>
<ul>
    <li><a href="pl-woj-density">Population density in voivodships</a></li>
    <li><a href="pl-woj-graduates">Graduates of universities in voivodships per 10,000 inhabitants</a></li>
</ul>
</body>
</html>
